# CMake
build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
Makefile
*.cmake.user

# Qt Creator
*.pro.user*
*.qtc.user*

# Compilers and binaries
*.o
*.obj
*.a
*.lib
*.dll
*.so
*.dylib
*.exe
*.pdb
*.ilk

# Editors and OS
.vscode/
.idea/
.DS_Store
Thumbs.db
